
header {
    display: inline-block;  
    width: 100%;              
    padding: 0;              
    margin: 0;
    background-color: black;  
}

header img.image {
    width: 100%;            
    height: auto;             
    display: block;           
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo h1 {
    margin-left: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.container_item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.image_section {
    flex: 1;
    text-align: center;
}

.product_image {
    max-width: 100%;
    height: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.427);
}

.details_section {
    flex: 1;
    padding: 20px;
}

.details_section h1 {
    font-size: 28px;
    color: #333;
}

.price {
    font-size: 20px;
    margin: 20px 0;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quantity_control {
    display: flex;
    align-items: center;
}

.quantity_control input {
    width: 60px;
    text-align: center;
    padding: 5px;
}

.quantity_button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.size_selector {
    display: flex;
    flex-direction: column;
}

.sizes {
    display: flex;
    gap: 10px;
}

.size_option {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}

.size_option:hover {
    background-color: #f4f4f4;
}

.cart_button, .buy_button {
    background-color: #000;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.cart_button:hover, .buy_button:hover {
    background-color: #333;
}

footer {
    bottom: 0px;
    text-align: center;
    background-color: #f4f4f4;
    color:  #333;
    padding: 10px;
}