

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    overflow-x: hidden;
}

header {
    display: inline-block;  
    width: 100%;              
    padding: 0;              
    margin: 0;
    background-color: black;  
}

header img.image {
    width: 100%;            
    height: auto;             
    display: block;           
}


header .logo {
    display: flex;
    align-items: center;
}

header .logo h1 {
    margin-left: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    background-color: white;
    text-align: center;
    display: flex;
    min-height: 100vh;
}

.container_all {
    justify-content: column;
    margin-left: 8%;
    margin-right: 8%;
}

.title_container {
    padding: 10px;
    text-align: left;
}

h1 {
    color: #333;
    font-size: 36px;
}

.line{
    color: black;
    margin-top: 0;
    margin-bottom: 10px;
    border-top: 1.5px solid #d1cece;
}

.container_shop {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.left_side {
    box-sizing: border-box;
    width: 75%;
    min-width: 350px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;    
    gap: 10px;          
}

.items {
    margin: 2%;
    display: flex;
    flex-wrap: wrap;  
    gap: 40px;         
    width: 100%;
}

.item {
    width: 37%;      
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.427);
    position: relative;
    overflow: hidden;
    padding-top: 5%;
    transition: background-color 2s 
}

.item:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9); 
    background-color: #f4f4f4;
}

.right_side {
    box-sizing: border-box;
    width: 25%;
    min-width: 250px;
    background-color: white;
}

.item_content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_container {
    width: 80%;     
    height: 80%;      
    overflow: hidden;         
    position: relative;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.item img {
    width: 100%;       
    height: 100%;      
    object-fit: cover;      
    object-position: center;   
}

.label_container{
    background-color: #f4f4f4;
    width: 100%;
}

.cart {
    height: 100%;
    margin: 4%;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.627);
    background-color: #f4f4f4;
}

.cart h3 {
    margin-bottom: 10px;
}

.cart ul {
    list-style: none;
    margin-bottom: 20px;
}

.cart ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.cart ul li img {
    width: 50px;
}

.cart button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.cart button:hover {
    background-color: #333;
}

footer {
    bottom: 0px;
    text-align: center;
    background-color: #f4f4f4;
    color:  #333;
    padding: 10px;
}

.a{
    color: lightgray;
}
