{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <title>StudSec Webshop</title>
        <link href="{% static 'css/webshop.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <header>
            <img class="image" src="{{ main_image }}" alt="Main Picture">
            <!-- <div class="logo"> -->
            </div>
                    <!-- Navbar (sit on top) -->
                    <div class="w3-top">
                        <div class="w3-bar" id="myNavbar">
                        <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
                            <i class="fa fa-bars"></i>
                        </a>
                        <a href="#home" class="w3-bar-item w3-button w3-text-light-grey">HOME</a>
                        <a href="index.html#calendar" class="w3-bar-item w3-button w3-hide-small w3-text-light-grey"><i class="fa fa-calendar"></i> CALENDAR</a>
                        <a href="https://ctf.studsec.nl" class="w3-bar-item w3-button w3-hide-small w3-text-light-grey"><i class="fa fa-trophy"></i>CTF</a>
                        <a href="https://wiki.studsec.nl" class="w3-bar-item w3-button w3-hide-small w3-text-light-grey"><i class="fa fa fa-book"></i>WIKI</a>
                        <a href="contact.html#contact" class="w3-bar-item w3-button w3-hide-small w3-text-light-grey"><i class="fa fa-envelope"></i> CONTACT</a>
                        <a href="contact.html#faq" class="w3-bar-item w3-button w3-hide-small w3-text-light-grey"><i class="fa fa-question-circle"></i> FAQ</a>
                        <a href="signup.html" class="w3-button w3-round-large w3-text-light-grey" id="signup-button"><i class="fa fa-check-square-o"></i>Join us</a>
                        </div>
                    
                        <!-- Navbar on small screens -->
                        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
                        <a href="#home" class="w3-bar-item w3-button" onclick="toggleFunction()">HOME</a>
                        <a href="index.html#calendar" class="w3-bar-item w3-button" onclick="toggleFunction()"><i class="fa fa-calendar"></i> CALENDAR</a>
                        <a href="https://ctf.studsec.nl" class="w3-bar-item w3-button" onclick="toggleFunction()"><i class="fa fa-trophy"></i> CTF</a>
                        <a href="https://wiki.studsec.nl" class="w3-bar-item w3-button" onclick="toggleFunction()"><i class="fa fa fa-book"></i> WIKI</a>
                        <a href="contact.html#contact" class="w3-bar-item w3-button" onclick="toggleFunction()"><i class="fa fa-envelope"></i> CONTACT</a>
                        <a href="contact.html#faq" class="w3-bar-item w3-button w3-hide-small" onclick="toggleFunction()"><i class="fa fa-question-circle"></i> FAQ</a>
                        <a href="signup.html" class="w3-bar-item w3-button w3-round-large" onclick="toggleFunction()"><i class="fa fa-check-square-o"></i> Join us</a>
                        </div>
                    </div>
        
                </div>
        </header>

        <main>
            <div class="container_all">
                <div class="title_container">
                    <h1>Merchandise Shop</h1>
                </div>
                <hr class="line">
                
                <div class="container_shop">
                    <div class="left_side">
                        <div class="items">
                            <div class="item" role="button" id="item_button">
                                <div class="item_content">
                                    <div class="image_container">
                                        <img src="{{ Hoodie }}" alt="Hoodie">
                                    </div>
                                    <div class="label_container">
                                        <p>Hoodie</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item" role="button" id="item_button">
                                <div class="item_content">
                                    <div class="image_container">
                                        <img src="{{ t_shirt }}" alt="T-shirt">
                                    </div>
                                    <div class="label_container">
                                        <p>T-shirt</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item" role="button" id="item_button">
                                <div class="item_content">
                                    <div class="image_container">
                                        <img src="{{ stickers }}" alt="Stickers">
                                    </div>
                                    <div class="label_container">
                                        <p>Stickers 10x</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="right_side">
                        <div class="cart">
                            <h3>My cart</h3>
                            <hr class="line">
                            <button>See my cart</button>
                            <button>Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <p>© 2024 StudSec</p>
        </footer>

        <script src="{% static 'js/webshop.js' %}"></script>

    </body>
</html>